:root {
	--max-page-width: 960px;
	--body-padding: 2em;
	--body-line-height: 1.5;
	--p-max-width: 75ch;

	/* primary colors */
	--mint-green: #98ff98;
	--peach: #ffdab9;
	--lavender: #e6e6fa;
	/* accent colors */
	--neon-pink: #ff6ec7;
	--electric-blue: #7df9ff;
	--bright-yellow: #ffff00;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html {
	color-scheme: dark light;
	hanging-punctuation: first last;
}

body {
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: var(--body-line-height);
	min-height: 100vh;
	min-height: 100svh;
	font-family: Arial, Helvetica, sans-serif;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
	height: auto;
	font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

p,
li {
	max-width: var(--p-max-width, 75ch);
	text-wrap: pretty;
}

code {
	display: block;
	border: 1px solid rgb(141, 141, 141);
	padding: 1em 2em;
	max-width: var(--p-max-width, 75ch);
}

input,
textarea,
button,
select {
	font: inherit;
}

@media (prefers-reduced-motion: no-preference) {
	:has(:target) {
		scroll-behavior: smooth;
	}
}

/* --------------------- */

body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	display: flex;
	flex-direction: column;
	align-items: center;
}
body > * {
	max-width: 75ch;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
}
h1 {
	font-size: 4em;
}

.fade-in {
	opacity: 0;
	animation: fadeIn 4s forwards;
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

header#hero {
	max-width: 75ch;
}
header#hero > div {
	display: grid;
	grid-template-areas:
		"h1 h1"
		"img h2";
	max-height: 200px;
}
#hero h1 {
	grid-area: h1;
	line-break: auto;
}
#hero h2 {
	grid-area: h2;
	align-self: end;
	justify-self: end;
}
#hero h3 {
	grid-area: h1;
}
#hero .profile-image {
	grid-area: img;
	justify-self: start;
	align-self: end;
}
#hero #introduction {
	padding-top: 2em;
}

main {
	margin-top: 4em;
}

.project-list {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
	> * {
		flex-grow: 1;
		flex-basis: calc(50% - 0.5em);
	}
}

.card {
	border: 3px solid white;
	border-radius: 5px;
	min-width: 300px;
	max-width: 50%;
	aspect-ratio: 1/1;

	display: flex;
	gap: 1.5em;
	flex-direction: column;
	justify-content: space-between;
	padding: 1em;
}

.card-header {
	display: flex;
	align-items: center;

	* {
		flex-grow: 1;
	}

	h3 {
		font-size: 2em;
	}

	img {
		max-width: 50%;
		height: 50%;
	}
}
.card-description {
	min-height: 150px;
}
